.menuAngleArrow {
    float: right;
}

.submenuList {
    list-style-type: none;
    /*color: #E7040F;*/
}

.prevNav {
    text-decoration: none;
    border-bottom: none;
    color:#000;
}

.subItemList:last-child {
    border-bottom: none;
}

/* .submenuList:last-child {
    border-bottom: none;
} */